<div class="c-deactivate">
    <div class="cd-img">
        <img src="assets/img/deactivate.png" alt="CIAYO">
    </div>
    <div class="cd-content">
        <h1>Your Account is Currently Deactivated</h1>
        <p>Your friends are waiting for you in the CIAYO World!<br>Come back and join in on the fun!</p>

        <div class="cd-buttons">
            <button aria-label="Reactivate my account" id="cd-reactivate" class="md-raised md-primary md-button md-ink-ripple" type="button" ng-transclude=""><ciayo class="ng-scope" translate="$reactivate">Reactivate my account</ciayo><div style="" class="md-ripple-container"></div></button>
            <button aria-label="Login with another account" id="cd-login" class="md-raised md-button md-ink-ripple" type="button" ng-transclude=""><ciayo class="ng-scope" translate="$login.with.another.account">Login with another account</ciayo><div style="" class="md-ripple-container"></div></button>
        </div>
    </div>
</div>