<div>
<div class="c-deactivate">
    <div class="cd-img">
        <img src="assets/img/deactivate.png" alt="CIAYO">
    </div>
    <div class="cd-content">
        <h1>Your Account is Currently Deactivated</h1>
        <p>Your friends are waiting for you in the CIAYO World!<br>Come back and join in on the fun!</p>

        <div class="cd-buttons">
            <button  id="cd-reactivate" class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="vm.reactive()"><ciayo class="ng-scope" >Reactivate my account</ciayo><div style="" class="md-ripple-container"></div></button>
            <button id="cd-login" class="md-raised md-button md-ink-ripple" type="button" ng-click="vm.logout_reactive()"><ciayo class="ng-scope" >Login with another account</ciayo><div style="" class="md-ripple-container"></div></button>
        </div>
    </div>
</div>
</div>