
<div class="c-lp-resetpassword-wrp">
	<div class="c-lp-logo"><img src="assets/img/logo-ciayo.png" alt=""/></div>
	<div class="c-lp-createpassword">Create your new password</div>
	<div class="c-lp-form-wrp">
		<form>
			<div class="c-lp-pass-wrp">
				<input type="{{vm.showPass?'text':'password'}}" placeholder="New password" name="newPass" ng-model="vm.newPass" ng-focus="vm.showTooltip=!vm.showTooltip" ng-blur="vm.showTooltip=!vm.showTooltip;vm.checkPassword('newPass')" ng-change="vm.validatePassword('newPass')" class="c-lp-input c-lp-input-pass"/><a href="javascript:void(0)" class="eye-password" ng-click="vm.showPass=!vm.showPass" ng-class="vm.showPass?'-active':''">
				<md-icon class="material-icons md-light s48">remove_red_eye</md-icon></a>
				<div ng-class="vm.showTooltip ? 'active' : ''" class="c-lp-tooltip-wrp clptt1 _forgot-password">
						<div class="c-lp-tooltip-h"><i class="ci-warning"></i><ciayo translate="$use.case.sensitive">Use case sensitive password</ciayo>
						</div>
						<div class="c-lp-tooltip-c" id="newPass">
							<ul>
								<li>
									<div class="unchecked-circle"><i class="ci-check-2"></i>
									</div><ciayo translate="$must.be.character">Must be at least 8 characters</ciayo>
								</li>
								<li>
									<div class="unchecked-circle"><i class="ci-check-2"></i>
									</div><ciayo translate="$disallowed.character">Must not contain disallowed characters <br/>( " , ', _ , & , ( , ) , < , > , space , / , \ )</ciayo>
								</li>
							</ul>
						</div>
					</div>
			</div>
			<div class="c-lp-pass-wrp">
				<input type="{{vm.showPass2?'text':'password'}}" placeholder="Confirm new password" name="rePass" ng-model="vm.rePass" ng-blur="vm.checkRePass()" class="c-lp-input c-lp-input-pass"/><a href="javascript:void(0)" class="eye-password" ng-click="vm.showPass2=!vm.showPass2" ng-class="vm.showPass2?'-active':''">
					<md-icon class="material-icons md-light s48">remove_red_eye</md-icon></a>
			</div>
			<md-button ng-click="vm.resetPassword()" class="md-raised md-primary c-lp-sb">Submit</md-button>
		</form>
	</div>
</div>
<div class="c-modal-forgot">
	<c-modal></c-modal>
</div>