<div class="c-lp-wrp" ng-hide="vm.fpNotif">
	<div class="c-lp">
		<div class="c-lp-slideshow">
			<div class="c-slideshow">
				<div class="c-slide c-slide-1" style="background-image:url('assets/img/bg-lp-1.jpg');">
					<div class="c-slide-text">
						<h3><ciayo translate="$landing.1.h">Your Life.<br>Illustrated.</ciayo></h3>
						<p><ciayo translate="$landing.1.p">Our brand of Activities<br>will make everything you do everyday<br>more fun through colorful illustrations!</ciayo></p>
					</div>
				</div>
				<div class="c-slide c-slide-2" style="background-image:url('assets/img/bg-lp-2.jpg');">
					<div class="c-slide-text">
						<h3><ciayo translate="$landing.2.h">Win them all,<br>collect them all</ciayo></h3>
						<p><ciayo translate="$landing.2.p">Show your friends how good you are at life<br>through over-the-top thropies–our Achievements, that is.</ciayo></p>
					</div>
				</div>
				<div class="c-slide c-slide-3" style="background-image:url('assets/img/bg-lp-3.jpg');">
					<div class="c-slide-text">
						<h3><ciayo translate="$landing.3.h">Express dem feels</ciayo></h3>
						<p><ciayo translate="$landing.3.p">Utilize funny CIMOTIONS<br>to let people know what you truly feel.</ciayo></p>
					</div>
				</div>
				<div class="c-slide c-slide-4" style="background-image:url('assets/img/bg-lp-4.jpg');">
					<div class="c-slide-text">
						<h3><ciayo translate="$landing.4.h">Be whoever<br>you wanna be</ciayo></h3>
						<p><ciayo translate="$landing.4.p">Unleash your inner creativity<br>and be whoever you want to be without worry.</ciayo></p>
					</div>
				</div>
				<div class="cycle-pager"></div>
			</div>
		</div>
		
		<div class="c-lp-panels-wrp">
		<div class="c-lp-panels">
			<div ng-class="vm.errMsg ? 'active' : ''" class="c-lp-alert">
				<div class="c-alert"><a href="javascript:void(0)" ng-click="vm.errMsg=null" class="c-lp-alert-close"><i class="ci-delete-2"></i></a><span class="text" ng-bind="vm.errMsg"></span></div>
			</div>
			<div class="c-lp-pane" id="c-lp-pane-register">
				<div class="c-lp-panel-item c-lp-panel-upper">

					<div ng-class="vm.showTooltipEmail ? 'active' : ''" class="c-lp-tooltip-wrp clptt1">
						<div class="c-lp-tooltip-h"><i class="ci-warning"></i><ciayo translate="$use.case.sensitive">Use case sensitive password</ciayo>
						</div>
						<div class="c-lp-tooltip-c" id="regPassEmail">
							<ul>
								<li>
									<div class="unchecked-circle"><i class="ci-check-2"></i>
									</div><ciayo translate="$must.be.character">Must be at least 8 characters</ciayo>
								</li>
								<li>
									<div class="unchecked-circle"><i class="ci-check-2"></i>
									</div><ciayo translate="$disallowed.character">Must not contain disallowed characters <br/>( " , ', _ , & , ( , ) , < , > , space , / , \ )</ciayo>
								</li>
							</ul>
						</div>
					</div>

					<div ng-class="vm.showTooltip ? 'active' : ''" class="c-lp-tooltip-wrp clptt2">
						<div class="c-lp-tooltip-h"><i class="ci-warning"></i>Use case sensitive password
						</div>
						<div class="c-lp-tooltip-c" id="regPassPhone">
							<ul>
								<li>
									<div class="unchecked-circle"><i class="ci-check-2"></i>
									</div><ciayo translate="$must.be.character">Must be at least 8 characters</ciayo>
								</li>
								<li>
									<div class="unchecked-circle"><i class="ci-check-2"></i>
									</div><ciayo translate="$disallowed.character">Must not contain disallowed characters <br/>( " , ', _ , & , ( , ) , < , > , space , / , \ )</ciayo>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="c-lp-panel-inner">
						<div class="c-lp-panel-content">

							<div class="c-lp-logo">
								<img src="assets/img/ciayo-70.png" alt="CIAYO">
							</div>
							<div class="c-lp-heading">
								<h2><ciayo translate="$register">Register</ciayo></h2>
								<h4><ciayo translate="$make.new.connection">Make new Connections. Be Famous.</ciayo></h4>
							</div>
							
							<div class="c-lp-form" ng-class="vm.showPC?'active':''">
								<div class="list-code-region" click-outside="vm.showPC=false" outside-if-not="c-lp-code-region">
									<ul class="recent">
										<li ng-click="vm.regPC='62';vm.showPC=!vm.showPC"><b>Indonesia</b><span>+62</span>
									</ul>
									<ul class="list-all">
										<li ng-repeat="list in vm.listPhoneCode | orderBy: 'country_name'" ng-if="list.phone_code&&list.image" ng-click="vm.regPC=list.phone_code;vm.showPC=!vm.showPC">{{list.country_name}}<span ng-bind="'+'+list.phone_code"></span></li>
									</ul>
								</div>
								<form name="register" ng-submit="vm.register()">
									<md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom" md-center-tabs="true" md-stretch-tabs="always">
										<md-tab md-on-select="vm.registerType='email'">
											<md-tab-label>
												<i class="ci-email"></i><span translate="$email">Email</span>
											</md-tab-label>
											<md-tab-body>
												<md-content class="md-padding">
													<input type="text" name="regEmail" placeholder="{{'$your.email' | translate}}" ng-model="vm.regEmail" ng-blur="vm.validateEmail('regEmail', vm.regEmail)" class="c-lp-input c-lp-input-txt"/>
													<div class="c-lp-pass-wrp">
														<input type="{{ vm.showPass ? 'text' : 'password' }}" placeholder="{{'$create.password' | translate}}" name="regEPass" ng-model="vm.regEPass" ng-focus="vm.showTooltipEmail=!vm.showTooltipEmail" ng-blur="vm.showTooltipEmail=!vm.showTooltipEmail;vm.checkPassword('regEPass')" ng-change="vm.validatePassword('regPassEmail')" class="c-lp-input c-lp-input-pass" ng-trim="false" /><a ng-class="vm.showPass ? 'active' : ''" href="javascript:void(0)" ng-click="vm.showPass=!vm.showPass" class="c-lp-pass-eye"><i class="ci-eye"></i></a>
														<div title="Your capslock is On" class="c-lp-capslock"><i class="ci-uppercase"></i>
														</div>
													</div>
												</md-content>
											</md-tab-body>
										</md-tab>
										<md-tab md-on-select="vm.registerType='phone'">
											<md-tab-label>
												<i class="ci-phone"></i><span translate="$phone">Phone</span>
											</md-tab-label>
											<md-tab-body>
												<md-content class="md-padding custom">
													<div class="c-lp-phone-wrp" ng-class="vm.showPC?'active':''">
														<div class="c-lp-code-region" ng-init="vm.regPC='62'" ng-click="vm.showPC=!vm.showPC"><span ng-bind="'+'+vm.regPC"></span><i class="ci-dropdown"></i>
														</div>
														<input type="text" name="regPhone" placeholder="{{'$your.phone.number' | translate}}" ng-model="vm.regPhone" ng-blur="vm.validatePhone('regPhone', vm.regPhone)" class="c-lp-input c-lp-input-phone" onkeypress="return numberOnly(this, event)">
													</div>
													<div class="c-lp-pass-wrp">
														<input type="{{ vm.showPass ? 'text' : 'password' }}" placeholder="{{'$create.password' | translate}}" name="regPPass" ng-model="vm.regPPass" ng-focus="vm.showTooltip=!vm.showTooltip" ng-blur="vm.showTooltip=!vm.showTooltip;vm.checkPassword('regPPass');" ng-change="vm.validatePassword('regPassPhone')" class="c-lp-input c-lp-input-pass" ng-trim="false"/><a ng-class="vm.showPass ? 'active' : ''" href="javascript:void(0)" ng-click="vm.showPass=!vm.showPass" class="c-lp-pass-eye"><i class="ci-eye"></i></a>
														<div title="Your capslock is On" class="c-lp-capslock"><i class="ci-uppercase"></i>
														</div>
													</div>
												</md-content>
											</md-tab-body>
										</md-tab>
									</md-tabs>
									<md-button type="submit" class="md-raised md-primary c-lp-sb" ng-disabled="vm.showLoading">
										<ciayo translate="$register">Register</ciayo>
										<span class="submit-loader"><img class="loader" src="assets/img/loader-32.gif"></span>
									</md-button>
								</form>
								<p class="_terms"><ciayo translate="$term.policy" translate-values="{terms: '/terms-and-conditions', data_policy: '/privacy-and-policy', cookie_use: '/cookie-use'}">By clicking Register, you agree to our <a target="_blank" href="#">Terms</a>and that you have read our <a href="#" target="_blank">Data Policy</a>, including our <a href="#" target="_blank">Cookie Use</a></ciayo></p>
							</div>
						</div>
					</div>
					<div class="c-lp-panel-btn-container">
					<h6><ciayo translate="$already.an.ciayo.member">Already an CIAYO member?</ciayo></h6>
					<button aria-label="Login" id="c-lp-login-ibtn" class="md-raised c-lp-sb tab-link c-lp-register md-button md-ink-ripple" type="button"><ciayo class="ng-scope" translate="$login">Login</ciayo></button>
				</div>
				</div>
			</div>

			<div class="c-lp-pane" id="c-lp-pane-main">
				<div class="c-lp-o-content">
					<div class="c-lp-logo">
						<img src="assets/img/ciayo-70.png" alt="CIAYO">
					</div>
					<div class="c-lp-heading">
						<h1><ciayo translate="$free.to.join">Free To Join</ciayo></h1>
						<h2><ciayo translate="$meet.new.connection">Meet new connections. Be Famous.</ciayo></h2>
					</div>
					<div class="c-lp-btn-container">
						<button aria-label="Register" id="c-lp-register-btn" class="md-raised md-primary c-lp-sb tab-link c-lp-register md-button md-ink-ripple" type="button"><ciayo class="ng-scope" translate="$register">Register</ciayo></button>
						<button aria-label="Login" id="c-lp-login-btn" class="md-raised md-primary c-lp-sb tab-link c-lp-register md-button md-ink-ripple" type="button"><ciayo class="ng-scope" translate="$login">Login</ciayo></button>
					</div>
					<div class="c-lp-see-container">
						<p><ciayo translate="$see.whatsup.ciayo">See what's up in CIAYO's world</ciayo></p>
					</div>
					<div class="c-lp-language">
					<div class="c-lp-select-lang">
						<span class="selected">Select Language: <span class="text" ng-click="vm.open_lang=!vm.open_lang" ng-bind="vm.current_lang">English</span> 
							<span class="select-lang">
								<i class="ci-dropdown" ng-click="vm.open_lang=!vm.open_lang">
								</i>
								<div class="lang-sel" ng-show="vm.open_lang">
									<ul class="lang-sel-ul">
										<li><a href="javascript:void(0)" ng-click="vm.changeLang(1)" data-lang="English">English</a></li>
										<li><a href="javascript:void(0)" ng-click="vm.changeLang(2)" data-lang="Bahasa Indonesia">Bahasa Indonesia</a></li>
									</ul>
								</div>
							</span>
						</span>
					</div>
				</div>
				</div>
			</div>

			<div class="c-lp-pane" id="c-lp-pane-login">
				<div class="c-lp-panel-item c-lp-panel-bottom">
					
					<div class="c-lp-panel-inner">
						
						<div class="c-lp-panel-content " ng-class="vm.loginForm ? 'active' : ''">

							<div class="c-lp-double" ng-class="vm.loginForm ? 'active' : ''">
									<div class="c-lp-double-item c-lp-double-left" ng-class="vm.showPCL?'active':''">
										<div class="list-code-region login" click-outside="vm.showPCL=false" outside-if-not="c-lp-code-region">
											<ul class="recent">
												<li ng-click="vm.logPC='62';vm.showPCL=!vm.showPCL"><b>Indonesia</b><span>+62</span></li>
											</ul>
											<ul class="list-all">
												<li ng-repeat="list in vm.listPhoneCode | orderBy: 'country_name'" ng-if="list.phone_code&&list.image" ng-click="vm.logPC=list.phone_code;vm.showPCL=!vm.showPCL">{{list.country_name}}<span ng-bind="'+'+list.phone_code"></span></li>
											</ul>
										</div>
										<div class="c-lp-logo">
											<img src="assets/img/ciayo-70-white.png" alt="CIAYO">
										</div>
										<div class="c-lp-heading">
											<h2><ciayo translate="$login.your.account">Login to your account</ciayo></h2>
										</div>
										<div class="c-lp-form">
											<form name="login" ng-submit="vm.login()">
												<md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom" md-center-tabs="true" md-stretch-tabs="always">
													<md-tab md-on-select="vm.loginType='email'">
														<md-tab-label>
															<i class="ci-email"></i>Email
														</md-tab-label>
														<md-tab-body>
															<md-content class="md-padding">
																<input type="text" name="logEmail" placeholder="{{'$your.email' | translate}}" ng-model="vm.logEmail" class="c-lp-input c-lp-input-txt"/>
																<div class="c-lp-pass-wrp">
																	<input type="{{ vm.showPass ? 'text' : 'password' }}" placeholder="{{'$your.password' | translate}}" name="logEPass" ng-model="vm.logEPass" class="c-lp-input c-lp-input-pass"/><a ng-class="vm.showPass ? 'active' : ''" href="javascript:void(0)" ng-click="vm.showPass=!vm.showPass" class="c-lp-pass-eye"><i class="ci-eye"></i></a>
																	<div title="Your capslock is On" class="c-lp-capslock"><i class="ci-uppercase"></i>
																	</div>
																</div>
															</md-content>
														</md-tab-body>
													</md-tab>
													<md-tab md-on-select="vm.loginType='phone'">
														<md-tab-label>
															<i class="ci-phone"></i><span translate="$phone">Phone</span>
														</md-tab-label>
														<md-tab-body>
															<md-content class="md-padding custom">
																<div class="c-lp-phone-wrp" ng-class="vm.showPCL?'active':''">
																<div class="c-lp-code-region login" ng-init="vm.logPC='62'" ng-click="vm.showPCL=!vm.showPCL"><span ng-bind="'+'+vm.logPC"></span><i class="ci-dropdown"></i>
																</div>
																<input type="text" name="logPhone" placeholder="{{'$your.phone.number' | translate}}" ng-model="vm.logPhone" ng-blur="vm.validatePhone('logPhone', vm.logPhone)" class="c-lp-input c-lp-input-phone" onkeypress='return numberOnly(this, event)'/>
															</div>
																<div class="c-lp-pass-wrp">
																	<input type="{{ vm.showPass ? 'text' : 'password' }}" placeholder="{{'$your.password' | translate}}" name="logPPass" ng-model="vm.logPPass" class="c-lp-input c-lp-input-pass"/><a ng-class="vm.showPass ? 'active' : ''" href="javascript:void(0)" ng-click="vm.showPass=!vm.showPass" class="c-lp-pass-eye"><i class="ci-eye"></i></a>
																	<div title="Your capslock is On" class="c-lp-capslock"><i class="ci-uppercase"></i>
																	</div>
																</div>
															</md-content>
														</md-tab-body>
													</md-tab>
												</md-tabs>
												<md-button type="submit" class="md-raised md-primary c-lp-sb" ng-disabled="vm.showLoading">
													<ciayo translate="$enter">Enter</ciayo>
													<span class="submit-loader"><img class="loader" src="assets/img/loader-32.gif"></span>
												</md-button>
												<p class="_forgot"><a href="javascript:void(0)" ng-click="vm.loginForm=!vm.loginForm;" class="c-lp-fp tab-link"><ciayo translate="$forgot.password?">Forgot password?</ciayo></a></p>
											</form>
										</div>
									</div>
									<div class="c-lp-double-item c-lp-double-right" ng-class="vm.showPCF?'active':''">
										<div class="list-code-region forgot" click-outside="vm.showPCF=false" outside-if-not="c-lp-code-region">
											<ul class="recent">
												<li ng-click="vm.fpPC='62';vm.showPCF=!vm.showPCF"><b>Indonesia</b><span>+62</span></li>
											</ul>
											<ul class="list-all">
												<li ng-repeat="list in vm.listPhoneCode | orderBy: 'country_name'" ng-if="list.phone_code&&list.image" ng-click="vm.fpPC=list.phone_code;vm.showPCF=!vm.showPCF">{{list.country_name}}<span ng-bind="'+'+list.phone_code"></span></li>
											</ul>
										</div>
										<div class="c-lp-btn-back">
											<md-button ng-click="vm.loginForm=!vm.loginForm;" class="md-raised md-primary c-lp-sb tab-link"><ciayo translate="$back.to.login">Back to login</ciayo></md-button>
										</div>
										<div class="c-lp-logo">
											<img src="assets/img/ciayo-70-white.png" alt="CIAYO">
										</div>
										<div class="c-lp-heading">
											<h2><ciayo translate="$forgot.password?">Forgot your password?</ciayo></h2>
										</div>
										<div class="c-lp-form">
											<form name="forgotPassword" ng-submit="vm.forgotPassword()">
												<md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom" md-center-tabs="true" md-stretch-tabs="always">
													<md-tab md-on-select="vm.forPassType='email'">
														<md-tab-label>
															<i class="ci-email"></i><span translate="$email">Email</span>
														</md-tab-label>
														<md-tab-body>
															<md-content class="md-padding">
																<input name='fpEmail' type="text" placeholder="{{'$your.email' | translate}}" ng-model="vm.forPassEmail" class="c-lp-input c-lp-input-txt"/>
															</md-content>
														</md-tab-body>
													</md-tab>
													<md-tab md-on-select="vm.forPassType='phone'">
														<md-tab-label>
															<i class="ci-phone"></i><span translate="$phone">Phone</span>
														</md-tab-label>
														<md-tab-body>
															<md-content class="md-padding custom">
																<div class="c-lp-phone-wrp" ng-class="vm.showPCF?'active':''">
																<div class="c-lp-code-region forgot" ng-init="vm.fpPC='62'" ng-click="vm.showPCF=!vm.showPCF"><span ng-bind="'+'+vm.fpPC"></span><i class="ci-dropdown"></i>
																</div>
																
																<input name='fpPhone' type="text" placeholder="{{'$your.phone.number' | translate}}" ng-model="vm.fpPhone" ng-blur="vm.validatePhone('fpPhone', vm.fpPhone)" class="c-lp-input c-lp-input-phone" onkeypress='return numberOnly(this, event)'/>
															</div>
															</md-content>
														</md-tab-body>
													</md-tab>
												</md-tabs>
												<md-button type="submit" class="md-raised md-primary c-lp-sb" ng-disabled="vm.showLoading">Submit</md-button>
												
											</form>
										
									</div>
								</div>
							</div>
						
						</div>
					</div>

					<div class="c-lp-panel-btn-container">
						<h6><ciayo translate="$not.ciayo.member.yet">Not a CIAYO member yet?</ciayo></h6>
						<button aria-label="Register" id="c-lp-register-ibtn" class="md-raised c-lp-sb tab-link c-lp-register md-button md-ink-ripple" type="button"><ciayo class="ng-scope" translate="$register">Register</ciayo></button>
					</div>
				</div>
			</div>
		</div>
		</div>

	</div>
</div>
<div class="c-modal" layout="row" layout-align="center center">
	<div class="c-modal-backdrop"></div>
	<div class="c-modal-wrapper">
		<div class="c-lp-resetnotif-wrp">
			<div class="c-lp-reset-sent">Your reset password link has been sent to your {{vm.forPassType}}!</div>
			<div class="c-lp-reset-check">Please check your {{vm.forPassType}} or <a href="javascript:void(0)" ng-click="vm.forgotPassword();">click here</a> to resend the {{vm.forPassType}}</div>
			<div class="c-lp-reset-back" ng-click="vm.closeFPNotif()"><a href="javascript:void(0)">Back to Home</a></div>
		</div>
	</div>
</div>

<script>
	$(function(){
		$(document.body).children('.c').removeClass("c");
		var h = $(window).height();
		//('.c-lp-panel-bottom').css({'transform':'translateY('+(h-154)+'px)'});
		$('.c-lp-panel-btn, .c-lp-label').on('click', function(e){
			e.preventDefault();
			
			$('.c-lp-panel').toggleClass('active');
			if($('.c-lp-panel').hasClass('active')){
				//$('.c-lp-panel-bottom').css({'transform':'translateY('+154+'px)'});
				setTimeout(function(){
					//$('input[name=logEmail]').focus();
				},250);
			} else {
				//$('.c-lp-panel-bottom').css({'transform':'translateY('+(h-154)+'px)'});
				//$('input[name=regEmail]').focus();
			}
		});
		$('#c-lp-register-ibtn').on('click', function(e){
			e.preventDefault();
			$('.c-lp-panels').removeClass('-login');
			$('.c-lp-panels').addClass('-register');
		})
		$('#c-lp-login-ibtn').on('click', function(e){
			e.preventDefault();
			$('.c-lp-panels').removeClass('-register');
			$('.c-lp-panels').addClass('-login');
		})
		$('#c-lp-register-btn').on('click', function(e){
			e.preventDefault();
			$('.c-lp-panels').removeClass('-login');
			$('.c-lp-panels').addClass('-register');
			
		})
		$('#c-lp-login-btn').on('click', function(e){
			e.preventDefault();
			$('.c-lp-panels').removeClass('-register');
			$('.c-lp-panels').addClass('-login');
		})
		$('.c-slideshow').cycle({
			'slides':'.c-slide',
			'fx':'scrollHorz',
			'timeout':10000
		});
		$(window).on('resize', function(e){
			h = $(window).height();
			if($('.c-lp-panels').hasClass('active')){
			} else {
			}
		});
	});

	function numberOnly(myfield, e, dec){
		var key;
		var keychar;
		if (window.event) {
			key = window.event.keyCode; 
		} else if (e) {
			key = e.which; 
		} else {
			return true;
		}

		keychar = String.fromCharCode(key);

		if ((key==null) || (key==0) || (key==8) || (key==9) || (key==13) || (key==27) ) {
			return true;
		} else if ((("0123456789").indexOf(keychar) > -1)) {
			return true;
		} else {
			return false;
		}
	}
</script>
<style>

</style>