<card-loader>
	<div class="_head layout-row">
		<div class="_datetime"></div>
		<div class="_image"></div>
		<div class="_text"></div>
	</div>
	<div class="_body layout-row">
		<div class="_activity layout-column flex-50">
			<div class="_parallax flex"></div>
			<div class="layout-row flex-none">
				<div class="_item flex"></div>
				<div class="_item flex"></div>
				<div class="_item flex"></div>
				<div class="_item flex"></div>
				<div class="_item flex"></div>
				<div class="_item flex"></div>
			</div>
		</div>
		<div class="_pane layout-row flex-50">
			<ul class="_left layout-column flex-none">
				<li class="layout-align-center-center layout-column flex-none">
					<div class="_topmost"></div>
				</li>
				<li class="layout-align-center-center layout-column flex-none">
					<div class="_tool"></div>
				</li>
				<li class="layout-align-center-center layout-column flex-none">
					<div class="_tool"></div>
				</li>
				<li class="layout-align-center-center layout-column flex-none">
					<div class="_tool"></div>
				</li>
				<li class="layout-align-center-center layout-column flex-none">
					<div class="_tool"></div>
				</li>
				<li class="layout-align-center-center layout-column flex">
					<div class="_c-btn"></div>
				</li>
			</ul>
			<div class="_right layout-column flex">
				<div class="_top layout-row flex-none">
					<div class="_reaction layout-align-center-center layout-column flex-none -roll">
						<div class="_react flex-none"></div>
					</div>
					<div class="_button flex"></div>
				</div>
				<div class="_comments flex">
					<div class="_comment"></div>
				</div>
			</div>
		</div>
	</div>
</card-loader>