    
                <h1 class="c-set-right-heading"><ciayo translate="$CHANGE.PASSWORD">CHANGE PASSWORD</ciayo></h1>
                <div class="c-set-right-body">
                  <div class="c-set-pass">
                    <form class="c-set-pass-content">
                      <div class="c-set-pass-content-row">
                        <label><ciayo translate="$old.password">Old Password</ciayo></label>
                        <input type="{{ vm.showOldPass ? 'text' : 'password' }}" placeholder="{{'$old.password' | translate}}" ng-focus="vm.showTooltipOld=true" ng-blur="vm.showTooltipOld=false" ng-model="vm.old_password" ng-change="vm.validatePassword('regOldPassword')" class="c-set-pass-input"/>
                        <a ng-class="vm.showOldPass ? 'active' : ''" href="javascript:void(0)" ng-click="vm.showOldPass=!vm.showOldPass" class="c-lp-pass-eye">
                            <i class="ci-eye"></i>
                        </a>
                        <div class="c-lp-tooltip" ng-class="vm.showTooltipOld ? 'active' : ''">
                          <div class="c-lp-tooltip-h"><i class="ci-warning"></i><ciayo translate="$use.case.sensitive">Use case sensitive password</ciayo>
                          </div>
                          <div class="c-lp-tooltip-c" id="regOldPassword">
                            <ul>
                              <li>
                                <div class="unchecked-circle"><i class="ci-check-2"></i>
                                </div><ciayo translate="$must.be.character">Must be at least 8 characters</ciayo>
                              </li>
                              <li>
                                <div class="unchecked-circle"><i class="ci-check-2"></i>
                                </div><ciayo translate="$disallowed.character">Must not contain disallowed characters <br/>( " , ', _ , & , ( , ) , < , > , space , / , \ )</ciayo>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="c-set-pass-content-row">
                        <label><ciayo translate="$new.password">New Password</ciayo></label>
                        <input type="{{ vm.showNewPass ? 'text' : 'password' }}" placeholder="{{'$new.password' | translate}}" ng-focus="vm.showTooltipNew=true" ng-blur="vm.showTooltipNew=false" ng-model="vm.new_password" ng-change="vm.validatePassword('regNewPassword')" class="c-set-pass-input"/>
                        <a ng-class="vm.showNewPass ? 'active' : ''" href="javascript:void(0)" ng-click="vm.showNewPass=!vm.showNewPass" class="c-lp-pass-eye">
                            <i class="ci-eye"></i>
                        </a> 
                        <div class="c-lp-tooltip" ng-class="vm.showTooltipNew ? 'active' : ''">
                          <div class="c-lp-tooltip-h"><i class="ci-warning"></i><ciayo translate="$use.case.sensitive">Use case sensitive password</ciayo>
                          </div>
                          <div class="c-lp-tooltip-c" id="regNewPassword">
                            <ul>
                              <li>
                                <div class="unchecked-circle"><i class="ci-check-2"></i>
                                </div><ciayo translate="$must.be.character">Must be at least 8 characters</ciayo>
                              </li>
                              <li>
                                <div class="unchecked-circle"><i class="ci-check-2"></i>
                                </div><ciayo translate="$disallowed.character">Must not contain disallowed characters <br/>( " , ', _ , & , ( , ) , < , > , space , / , \ )</ciayo>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="c-set-pass-content-row">
                        <label><ciayo translate="$confirm.new.password">Confirm New Password</ciayo></label>
                        <input type="{{ vm.showConfirmPass ? 'text' : 'password' }}" placeholder="{{'$confirm.new.password' | translate}}" ng-focus="vm.showTooltipConfirm=true" ng-blur="vm.showTooltipConfirm=false" ng-model="vm.confirm_new_password" ng-change="vm.validatePassword('regConfirmPassword')" class="c-set-pass-input"/>
                        <a ng-class="vm.showConfirmPass ? 'active' : ''" href="javascript:void(0)" ng-click="vm.showConfirmPass=!vm.showConfirmPass"class="c-lp-pass-eye">
                            <i class="ci-eye"></i>
                        </a>
                        <div class="c-lp-tooltip" ng-class="vm.showTooltipConfirm ? 'active' : ''">
                          <div class="c-lp-tooltip-h"><i class="ci-warning"></i><ciayo translate="$use.case.sensitive">Use case sensitive password</ciayo>
                          </div>
                          <div class="c-lp-tooltip-c" id="regConfirmPassword">
                            <ul>
                              <li>
                                <div class="unchecked-circle"><i class="ci-check-2"></i>
                                </div><ciayo translate="$must.be.character">Must be at least 8 characters</ciayo>
                              </li>
                              <li>
                                <div class="unchecked-circle"><i class="ci-check-2"></i>
                                </div><ciayo translate="$disallowed.character">Must not contain disallowed characters <br/>( " , ', _ , & , ( , ) , < , > , space , / , \ )</ciayo>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="c-set-pass-content-row">
                        <md-button class="md-raised md-primary" ng-disabled="!vm.old_password || !vm.new_password || !vm.confirm_new_password" ng-click="vm.changePassword($event)"><ciayo translate="$save">Save</ciayo></md-button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>