.c-rgs-intro-banner {
	width: 500px;
	height: 392px;
	margin: 70px auto 51px auto;
}
.c-rgs-intro-head {
	height: 23px;
	margin: 0 auto 40px auto;
	text-align: center;
	color: #666;
	font-weight: bold;
	font-size: 24px;
	line-height: 23px;
	
	> span {
		color: #49a8dc;
	}
}
.c-rgs-intro-wrap {
	margin: 0 auto;
	text-align: center;
}
.c-rgs-intro-left h2,
.c-rgs-intro-right h2{
	font-family: ciayobold;
	margin: 0;
	color: #3db8f6;
	font-size: 56px;
	line-height: 1;
}
.c-rgs-intro-left,
.c-rgs-intro-right,
.c-rgs-intro-nickname {
	display: inline-block;
	vertical-align: middle;
}

.c-rgs-intro-nickname input {
	width: 300px;
	height: 45px;
	padding: 0 5px;
	border: none;
	border-bottom: 2px solid #e6e6e6;
	background: transparent;
	color: #333;
	font-family: ciayo;
	font-weight: bold;
	outline: none;
	
	&::-webkit-input-placeholder{
		font-size: 16px;
		color: #999;
		font-weight: normal;
	}
}
.c-rgs-intro-btn {
	margin-top: 40px;
	text-align: center;
	button {
		font-size: 16px;
		text-transform: capitalize;
	}
}
.c-rgs-caution {
	display: none;
	position: absolute;
	top: 47px;
	left: 5px;
	font-size: 13px;
	color: #EE4481;
	&.active {
		display: block;
	}
}

.c-wizard-wrp {
	width: 100vw;
	position: relative;
	overflow: hidden;
}

.c-wizard-inner-wrp {
	width: 500%;
	transition: all ease-in-out .25s;
	
	> div {
		float: left;
		display: inline-block;
		overflow: auto;
	}
	
	&.name-wizard {
		-webkit-transform: translateX(-20%);
		transform: translateX(-20%);
	}
	
	&.dob-wizard {
		-webkit-transform: translateX(-40%);
		transform: translateX(-40%);
	}
	
	&.avatar-wizard {
		-webkit-transform: translateX(-60%);
		transform: translateX(-60%);
	}
	
	&.mascot-wizard {
		-webkit-transform: translateX(-80%);
		transform: translateX(-80%);
	}
	
	.mascot {
		width: 100vw;
		height: 100vh;
	}
	
	.name {
		width: 100vw;
		height: 100vh;
	}
	.gender {
		width: 100vw;
		height: 100vh;
	}
	.dob {
		width: 100vw;
		height: 100vh;
	}
	.avatar {
		width: 100vw;
		height: 100vh;
	}
}

// select gender css
.c-rgs-gender-heading h1{
	width: 950px;
	margin: 50px auto 63px auto;
	text-align: center;
	color: #59c1ee;
	font-family: ciayobold;
	font-size: 48px;
	line-height: 1;
	text-transform: uppercase;
}
.c-rgs-gender-wrp {
	width: 950px;
	padding: 0 17px;
	margin: 0 auto;
	box-sizing: border-box;
}
.c-rgs-gender-male {
	width: 450px;
	height: 450px;
	margin-right: 16px;
	float: left;
	background: #e5e5e5;
	cursor: pointer;
	transition: background-color .3s ease;
	border-radius: 8px;
	&:hover,
	&.active {
		.c-rgs-gender-male-text {
			transition: color .3s ease;
		}
		.c-rgs-gender-male-img {
			background-image: url(../img/male-active.png);
		}
	}
	&:hover {
		background: #D2EDF9;
	}
	&.active {
		background: #229DD3;
		.c-rgs-gender-male-text {
			color: #fff;
		}
	}
	label {
		cursor: pointer;
	}
}
.c-rgs-gender-female {
	width: 450px;
	height: 450px;
	float: left;
	background: #e5e5e5;
	cursor: pointer;
	transition: background-color .3s ease;
	border-radius: 8px;
	&:hover,
	&.active {
		.c-rgs-gender-female-text {
			transition: color .3s ease;
		}
		.c-rgs-gender-female-img {
			background-image: url(../img/female-active.png);
		}
	}
	&:hover {
		background: #D2EDF9;
	}
	&.active {
		background: #229DD3;
		.c-rgs-gender-female-text {
			color: #fff;
		}
	}
	label {
		cursor: pointer;
	}
}
.c-rgs-gender-male,
.c-rgs-gender-female {
	margin-bottom: 60px;
}
.c-rgs-gender-male-img,
.c-rgs-gender-female-img {
	width: 350px;
	height: 350px;
	margin: 30px auto 10px auto;
}
.c-rgs-gender-male-img {
	background-image: url(../img/male.png);
	background-repeat: no-repeat;
}
.c-rgs-gender-female-img {
	background-image: url(../img/female.png);
	background-repeat: no-repeat;
}
.c-rgs-gender-male-text,
.c-rgs-gender-female-text {
	display: block;
	margin: 0 auto 30px auto;
	text-align: center;
	color: #666;
	font-family: ciayo;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
	text-transform: capitalize;
}
.c-rgs-gender-btn {
	text-align: center;
	button {
		font-size: 16px;
		text-transform: capitalize;
	}
}
.c-rgs-gender-male > label > input,
.c-rgs-gender-female > label > input {
	visibility: hidden;
	position: absolute;
}

// create avatar css
.c-cav{
	md-tabs{
		border-radius: 4px;
		border: 1px solid #e6e6e6;
		background: #fff;
	}
	md-pagination-wrapper,
	md-tabs-canvas{
		height: 40px;
	}
	md-tabs-canvas{
		margin: 0 40px;
	}
	md-tabs-wrapper{
		background: #8CDCFB;
	}
	md-tabs-content-wrapper{
		top: 40px;
	}
	md-icon{
		color: #fff;
	}
	md-content{
		background: transparent;
	}
	md-prev-button,
	md-next-button{
		width: 40px;
	}
	.md-tab{
		color: #fff !important;
		text-transform: capitalize;
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		
		&.md-active{
			background: #59BAE7;
		}
	}
}

.c-cav-head{
	position: relative;
	margin-bottom: 20px;
	
	._title{
		text-align: center;
		font-family: ciayobold;
		font-size: 48px;
		color: #59C1EE;
		margin: 0;
		text-transform: uppercase;
	}
	._logo{
		position: absolute;
		top: (67px / 2) - (40 / 2);
		left: 0;
		width: 40px;
		height: 40px;
	}
	._skip{
		position: absolute;
		top: (67px / 2) - (30 / 2);
		right: 0;
		display: block;
		padding: 4px 8px;
		white-space: nowrap;
		line-height: 20px;
		text-decoration: none;
		color: #02679E;
		
		> span{
			vertical-align: middle;
		}
		.cfi-forward{
			margin-left: 4px;
			font-size: 12px;
		}
	}
}

.c-cav-viewer{
	position: relative;
	margin-bottom: 17px;
	height: 250px;
	
	._viewport{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 250px;
		height: 100%;
		border-radius: 8px;
		overflow: hidden;
		transition: all 350ms ease;
		z-index: 2;
		
		&.zoom-out{
			._avatar{
				top: -27px;
				transform: scale(0.45);
			}
		}	
	}
	
	._avatar{
		height: 694px;
		width: 970px;
		position: relative;
		left: -360px;
		top: -75px;
		transform: scale(1);
		transform-origin: center top;
		transition: all 500ms ease;
		
		._part{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: 90% auto;
			background-position: center;
		}
		._hair_rear{
			z-index: 1;
		}
		._body{
			z-index: 2;
		}
		._head{
			z-index: 3;
		}
		._eyes{
			z-index: 4;
		}
		._eyebrows{
			z-index: 5;	
		}
		._nose{
			z-index: 6;
		}
		._mouth{
			z-index: 7;
		}
		._hair{
			z-index: 8;
		}
	}
	._zoom{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		padding: 3px;
		background: #026797;
		border-bottom-left-radius: 4px;
		color: #fefefe;
		padding: 4px 6px;
	}
}

.c-cav-parts{
	text-align: center;
	margin-bottom: 10px;
	
	._title{
		font-size: 24px;
		font-weight: normal;
		line-height: 25px;
		margin: 0 0 10px;
		color: #666;	
	}
	._parts{
		font-size: 0;
		
		._item{
			outline: none;
			display: inline-block;
			vertical-align: top;
			margin: 0 5px;
			width: 40px;
			height: 40px;
			background-size: 80px 40px;
			background-color: #fff;
			background-repeat: no-repeat;
			border-radius: 4px;
			cursor: pointer;
			
			font-size: 20px;
			line-height: 40px;
			color: #999;
			
			&.-active {
				
				background-color:	#229DD3;
				background-position:	-40px 0;

				> i {
					color: #fff;
				}
			}

			> i {
				font-size: 28px;
				margin-top: -8px;
				margin-left: -5px;
				color: #ccc;
			}
		}
	}
}

.c-cav-carousel{
	margin: 0 80px;
	font-size: 0;
	white-space: nowrap;
	text-align: center;
	
	._item{
		width: 60px;
		height: 60px;
		padding: 10px;
		margin: 10px;
		display: inline-block;
		vertical-align: middle;
		border-radius: 4px;
		border: 1px solid transparent;
		cursor: pointer;
		
		&.is-selected{
			border-color: #59BAE7;
		}

		img{
			width: 60px;
			height: 60px;
		}
	}
	.flickity-prev-next-button{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #02679E;
		
		&:disabled{
			display: none;
		}
		&.previous{
			left: -60px;
		}
		&.next{
			right: -60px;
		}
		svg{
			width: 14px;
			height: 14px;
			margin: 8px;
		}
		.arrow{
			fill: #fff;
		}
	}
}

.c-cav-color{
	text-align: center;
	
	> ul{
		background: #fff;
		border: 1px solid #e6e6e6;
		border-top-width: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		display: inline-block;
		vertical-align: top;
		list-style: none;
		padding: 4px 16px;
		margin: 0;
		
		> li{
			display: inline-block;
			vertical-align: middle;
			border-radius: 4px;
			padding: 2px;
			margin-left: 1px;
			margin-right: 1px;
			border-radius: 50%;
			border: 2px solid #fff;

			> a{
				text-decoration: none;
				display: block;
				color: inherit;
				width: 20px;
				height: 20px;
				background: #ddd;
				border-radius: 50%;
			}
			
			&.active{
				background: #EEF9FD;
			}
		}

		.color_active{
			border: 2px solid #59BAE7;
		}
	}
}

.c-cav-next{
	text-align: center;
}

.c-preload {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 100;
	transition: all 300ms ease;
	background: #eee;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
	&.-active {
		opacity: 1;
		visibility: visible;
	}
}

.new-carousel{
	border-radius: 4px;
}
.new-carousel-header{
	background: #59BAE7;
	position: relative;
	border: 1px solid #e6e6e6;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: none;
	text-align: center;
}

.new-carousel-header .frame{
	margin-right: auto;
	margin-left: auto;
	width: auto;
	display: table;
}



.new-carousel-header .frame ._item{
	display: inline-block;
	color: #fff !important;
		text-transform: capitalize;
		line-height: 20px;
		padding-top: 8px;
		padding-bottom: 6px;
		padding-left: 24px;
		padding-right: 24px;
		outline: none;
		font-size: 14px;
}

.new-carousel-header .frame ._active{
	background: #229DD3;
	border-bottom:6px solid #1D85BF;
}


.new-carousel-content{
		padding-left:80px;
		padding-right: 80px;
		padding-bottom: 0px;
	 
		background: #fff;
		font-size: 0;
		white-space: nowrap;
		text-align: center;
		position: relative;
		background: #fff;
 
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		 border: 1px solid #e6e6e6;
		 border-top:none;
		 
}

.new-carousel-content .arrow-left{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #ccc;
	position: absolute;
	top: 35px;
	left: 20px;
	outline: none;
	cursor: pointer;
	background: url(../img/create-avatar/prev.png) no-repeat center center #ccc;
	background-size:9px 14px;
	background-position: 6px center;
	&:hover {
		background-color: #026797;
	}
}

.new-carousel-content .arrow-right{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #ccc;
	position: absolute;
	top: 35px;
	right: 20px;
	outline: none;
	cursor: pointer;
	background: url(../img/create-avatar/next.png) no-repeat center center #ccc;
	background-size:9px 14px;
	background-position: 9px center;
	&:hover {
		background-color: #026797;
	}
}

.new-carousel-content .frame{
	width: 788px;
	overflow-x:hidden;
	padding: 13px;
}

.new-carousel-content .scrollbar::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

.new-carousel-content	.scrollbar::-webkit-scrollbar {
	background: #CDE1EC;
	height: 8px;
	border-radius: 10px;
}

.new-carousel-content	.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #02679E;
}
.new-carousel-content .frame ._item{
	display: inline-block;margin-right: 20px;
	cursor: pointer;
	outline: none;
	border:2px solid transparent;
	border-radius: 8px;
	padding: 5px;

	div{
		transition: all ease .2s;
		//border-radius: 7px;
	}
}

.new-carousel-content .frame ._active{
	border:2px solid #59BAE7;
	border-radius:8px;
}

.new-carousel-content .frame ._item div{
	outline: none;
}

.spinner{
	width: 100px;
	height: 100px;
	background: #fff;
	position: absolute;
}

/* ------------------- candra 31052016----------------- */

.display_loading{
	position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 250px;
		height: 100%;
		border-radius: 8px;
		overflow: hidden;
		transition: all 350ms ease;
		z-index: 3;
		background: #A9E0F6;
		display: none;
}

.display_loading .loader{
	width: 100px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-top:100px;
	color: #fff;
	font-size: 20px;
}

.display_loading .loader img{
	width: 100%;
}
.display_loading_avatar{
	position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		overflow: hidden;
		transition: all 350ms ease;
		z-index: 3;
		background: #eee;
		display: none;
}

.display_loading_avatar .loader{
	width: 150px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	margin-top:300px;
	font-size: 36px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.display_loading_avatar .loader img{
	width: 100%;
}

.c-rgs-born {
	position: relative;
}

.c-rgs-born-heading {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-family: ciayobold;
	font-size: 48px;
	color: #59C1EE;
	ciayo {
		text-transform: uppercase;
	}
}

.c-rgs-born-skip {
	position: absolute;
	top: 14;
	right: 0;
	line-height: 20px;
	color: #02679E;
}

.c-rgs-born-skip-text {
	font-size: 14px;
}

.c-rgs-born-skip-icon {
	font-size: 11px;
	margin-left: 5px;
}

.c-rgs-born-banner {
	display: block;
	width: 350px;
	height: 275px;
	margin: 0 auto 35px;
}

.c-rgs-born-field-wrp {
	padding: 0 25px;
	margin-bottom: 90px;
	text-align: center;
}

.c-rgs-born-dob-wrp {
	position: relative;
}

.c-rgs-born-dob-wrp,
.c-rgs-born-pob-wrp {
	width: 300px;
	margin: 0 auto;
}

.c-rgs-born-dob-label,
.c-rgs-born-pob-label {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 16px;
	line-height: 1;
	color: #666;
	display: block;
}

input[type='text'].c-rgs-born-dob-field,
input[type='text'].c-rgs-born-pob-field {
	height: 40px;
	padding: 0 16px;
	background: #fff;
	color: #757575;
	font-size: 18px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	margin-bottom: 0;
	width: 300px;
	background: url("../img/calendar.png") #fff right center no-repeat;
	background-size: 40px 37px;
	cursor: pointer;
	outline: none;
	
}

.c-rgs-born-dob-icon {
	position: absolute;
	bottom: 11px;
	line-height: 18px;
	width: 24px;
	right: 16px;
	text-align: center;
	color: #02679E;
}

.c-rgs-mascot-heading h1 {
	margin: 50px 0 50px 0;
	text-align: center;
	color: #59c1ee;
	font-family: ciayobold;
	font-size: 48px;
	line-height: 1;
	text-transform: uppercase;
}

.c-rgs-mascot-paragraph p {
	margin: 0 0 50px 0;
	text-align: center;
	color: #333;
	font: ciayo;
	font-size: 16px;
	line-height: 1.25;
}

.c-rgs-mascot-form {
	height: 439px;
	margin: 0 auto 0 auto;
}

.c-rgs-mascot-wrp {
	height: 280px;
	margin: 0 auto;
	text-align: center;
}

.c-rgs-mascot-item {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 270px;
	padding: 6px;
	margin-right: 10px;
	border: 2px solid transparent;
	border-radius: 6px;
	box-sizing: border-box;
	cursor: pointer;
	transition: height 300ms ease;
	overflow: hidden;
	outline: none;
}

.c-rgs-mascot-item:hover, .c-rgs-mascot-item.active {
	border: 2px solid #49a8dc;
}

.c-rgs-mascot-item:hover .c-rgs-mascot-name, .c-rgs-mascot-item.active .c-rgs-mascot-name {
	color: #49a8dc;
}

.c-rgs-mascot-item.active {
	height: 388px;
}

.c-rgs-mascot-item.active .c-mascot-char {
	visibility: visible;
	opacity: 1;
}

.c-rgs-mascot-item label {
	cursor: pointer;
}

.c-rgs-mascot-item:last-child {
	margin-right: 0;
}

.c-rgs-mascot-img {
	width: 200px;
	height: 200px;
	margin: 0 auto 21px auto;
}

.c-rgs-mascot-name {
	display: block;
	height: 30px;
	margin: 0 auto 16px auto;
	text-align: center;
	color: #333;
	font-family: ciayo;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
}

.c-rgs-mascot-next-btn {
	margin-top: 133px;
	text-align: center;
}

.c-rgs-mascot-next-btn button {
	font-size: 16px;
	text-transform: capitalize;
}

.c-rgs-mascot-item > label > input {
	visibility: hidden;
	position: absolute;
}

.c-mascot-char {
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;
}

.c-mascot-char .char-wrp {
	margin-bottom: 3px;
	font-size: 14px;
}

.c-mascot-char .char-wrp .text {
	margin-left: 6px;
	color: #666;
	float: left;
}

.c-mascot-char .char-wrp .value1,
.c-mascot-char .char-wrp .value2,
.c-mascot-char .char-wrp .value3 {
	font-family: ciayobold;
	float: right;
}

.c-mascot-char .char-wrp .value1 {
	color: #f89b1f;
}

.c-mascot-char .char-wrp .value2 {
	color: #ee4481;
}

.c-mascot-char .char-wrp .value3 {
	color: #49afe3;
}

.c-mascot-char .char-bar {
	width: 204px;
	height: 5px;
	background: #fff;
	margin-bottom: 12px;
	border-radius: 2.5px;
}

.c-mascot-char .char-bar .char-value1,
.c-mascot-char .char-bar .char-value2,
.c-mascot-char .char-bar .char-value3 {
	height: 5px;
	border-radius: 2.5px;
}

.c-mascot-char .char-bar .char-value1 {
	background: #f89b1f;
}

.c-mascot-char .char-bar .char-value2 {
	background: #ee4481;
}

.c-mascot-char .char-bar .char-value3 {
	background: #49afe3;
}

.c-mascot-crocket {
	background: transparent url(https://s3-ap-southeast-1.amazonaws.com/ciayo-dev4/mascots/e095af5cd7fc2682cc598869c210adb044422ff4_500x500.png) no-repeat;
	background-size: cover;
	transition: all ease .25s;
}
.c-rgs-mascot-item.active .c-mascot-crocket, 
.c-mascot-crocket:hover {
	background-image: url(https://s3-ap-southeast-1.amazonaws.com/ciayo-dev4/mascots/7defdcaf803b0c4b5c4a06e101a0543506949ec7_500x500.png);
}

.c-mascot-coco {
	background: transparent url(https://s3-ap-southeast-1.amazonaws.com/ciayo-dev4/mascots/02a65403f5958e9af86280188c32ce36cee66d61_500x500.png) no-repeat;
	background-size: cover;
	transition: all ease .25s;
}
.c-rgs-mascot-item.active .c-mascot-coco, 
.c-mascot-coco:hover {
	background-image: url(https://s3-ap-southeast-1.amazonaws.com/ciayo-dev4/mascots/55baed0024d3b6cb171fb8b8063834cd78977b58_500x500.png);
}

.c-mascot-chips {
	background: transparent url(https://s3-ap-southeast-1.amazonaws.com/ciayo-dev4/mascots/616f3fce317cb888a940e74c025096f8207a56f6_500x500.png) no-repeat;
	background-size: cover;
	transition: all ease .25s;
}
.c-rgs-mascot-item.active .c-mascot-chips, 
.c-mascot-chips:hover {
	background-image: url(https://s3-ap-southeast-1.amazonaws.com/ciayo-dev4/mascots/2241c58ee5faa80b95606f0aa01d24586bbf92bc_500x500.png);
}