.c-rgs-auvatar {
	text-align: center;
}

.c-rgs-auvatar-heading {
	font-family: ciayo;
	font-size: 48px;
	font-weight: bold;
	line-height: 1;
	margin: 50px 0 23px;
	color: #59C1EE;
}

.c-rgs-uavatar-paragraph {
	margin-bottom: 24px;
	margin-top: 0;
	font-size: 16px;
	color: #666;
}

.c-rgs-uavatar-img {
	width: 400px;
	height: 400px;
	display: block;
	margin: 0 auto 12px;
	position: relative;
}

.loading-ava {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}