.c-error {
	margin:3% auto 0;
	max-width:520px;
	text-align:center;

	.err-img {
		margin-bottom:22px;
	}
	.err-title {
		margin-bottom:15px;
		white-space:nowrap;
		h1 {
			font-size:55px;
			font-weight:bold;
			line-height:69px;
			text-transform:uppercase;
			color:#59BAE7;
			margin:0;

			span {
				color:#E85686;
			}
		}
		h3 {
			font-size:23px;
			text-align:center;
			line-height:31px;
			margin:0 0 9px;
			letter-spacing:1.55;
			text-transform:uppercase;
			color:#333;
		}
	}
	.err-desc {
		p {
			margin:0 0 16px;
			font-size:16px;
			line-height:31px;

			a {
				text-decoration: none;
				color:#02679E;
			}
		}
	}
	.err-logo{
		img {
			display:inline-block;
			width:50px;
			height:50px;
		}
	}
}