.c-set-pass-content{
	margin-right: 350px;
	margin-bottom: 0;
}

.c-set-pass-content-row{
	position: relative;
	+ .c-set-pass-content-row{
		margin-top: 24px;
	}
	
	label{
		display: inline-block;
		vertical-align: top;
		margin-bottom: 8px;
	}
	
	input{
		width: 100%;
		margin-bottom:0;
	}
	
	.md-button{
		margin-left: 0;
	}
}

.c-set-pass-content-row a.c-lp-pass-eye{
    position: absolute;
		right: 16px;
		bottom: 8px;
    font-size: 16px;
    color: #999;
		outline: none;
}

.c-set-pass .c-lp-input-pass{
	width: 100%;
}

.c-set-pass-content-row .c-lp-pass-eye.active i {
    color: #49AFE3;
}

.c-set-pass-content-row div.c-lp-tooltip{
    position: absolute;
	left: 288px;
	top: 26px;
    width: 247px;
    height: 106px;
    font-size: 16px;
    color: #999;
    background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-align: left;
	display: none;
	&.active {
		display: block;
	}
}

.c-set-pass-content-row .c-lp-tooltip-h {
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	padding-left: 30px;
	border-bottom: 1px solid #ddd;
}

.c-set-pass-content-row .c-lp-tooltip-h i { 
	position: absolute;
	font-size: 15px;
	top: 0;
	left: 10px;
	color: #ff0000;
}

.c-set-pass-content-row .c-lp-tooltip-h p {
	font-weight: bold;
}

/* */

.c-set-pass-content-row .c-lp-tooltip-c ul {
	position: relative;
	list-style: none;
	padding-left: 11px;
	padding-right: 8px;
	margin-top: 10px;
}

.c-set-pass-content-row .c-lp-tooltip-c ul li {
	height: 15px;
	line-height: 15px;
	padding-left: 20px;
	margin-bottom: 7px;
	font-size: 12px;
	color: #666;
}

.c-set-pass-content-row .c-lp-tooltip-c ul li .unchecked-circle {
	position: absolute;
	left: 10px;
	width: 12px;
	height: 12px;
	border: 1px solid #999;
	border-radius: 6px;
	i {
		display: none;
		margin-top: -1px;
		margin-left: -1px;
		font-size: 14px;
		color: #59BAE7;
	}
	&.active {
		i {
			display: block;
		}
	}
}

.c-set-pass-content-row .c-lp-tooltip:after, .c-set-pass-content-row .c-lp-tooltip:before{
	content: '';
	display: block;
	position: absolute;
	right: 100%;
	border-top-width: 0;
	width: 0;
	height: 0;
}

.c-set-pass-content-row .c-lp-tooltip:before {
	top: 8px;
	border: 7px solid transparent;
	border-right-width: 10px;
	border-right-color: #e6e6e6;
}

.c-set-pass-content-row .c-lp-tooltip:after {
	top: 10px;
	border: 5px solid transparent;
	border-right-width: 8px;
	border-right-color: #fff;
}

.c-set-pass-input {
	width: 100%;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 0;
    padding: 8px 16px;
    outline: none;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
}
